.vscode/c_cpp_properties.json
CAD/old
CAD
docs/

Software/data
Software/dataCiP
TestingMachine
guides/QUICKSTART.qmd

Software/QT_test/main.py
Software/QT_test/test.ui
D32_Firmware/.vscode/extensions.json
